@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  font-family: Inter;
  background-image: linear-gradient(0.6turn, #3fa2ff, #493199);
  background-size: cover;
  height: 100vh
}

header {
  &>h1 {
    margin: 0;
    padding: 24px;
    text-align: center;
    font-size: 2.25em;
    font-weight: 800;
    color: #f2f2f2;
    text-shadow: 4px 4px #3815ff94
  }
}

button {
  cursor: pointer;
}

#settings {
  position: absolute;
  background-color: #f3f3f3;
  color: black;
  padding: 16px;
  border: 2px solid rgb(66, 67, 139);
  border-radius: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  box-shadow: 8px 10px 12px 0 rgba(10, 3, 62, 0.453);

  &>span {
    font-weight: 800;
    letter-spacing: 2px;
  }

  #close-settings-btn {
    box-sizing: border-box;
    width: 80px;
    transform: translateY(25%);
    padding: 4px;
    border: none;
    background-color: #dfdfdf;
    border-radius: 16px;
    color: #545454;
    font-weight: 800;
    box-shadow: 2px 4px 6px 0 #a4a4a4;

    &:hover {
      background-color: #d1d1d1;
    }
  }

  #time-settings > div {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #353535;

    &>div {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      &>input {
        border: 1px solid #cbcbcb;
        border-radius: 6px;
        padding: 4px 8px;
        margin-top: 4px;
        color: #545454;
        background-color: #dddddd8e;
        font-weight: 800;
        box-shadow: 2px 2px 6px 0 #a4a4a4;
      }
    }
  }
}

#timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #timer-modes-wrapper {
    background-color: #16134fed;
    padding: 10px 12px;
    border-radius: 24px;
    box-shadow: 4px 4px 2px #130f6677;
    margin-bottom: 24px;

    &>button {
      box-sizing: border-box;
      background: none;
      border: none;
      font-weight: 800;
      color: #e1e1e1;
      margin: 0 4px;
      padding: 4px 12px;
      border-radius: 14px;
      transition: all 0.375s;

      &.chosen-mode-btn {
        background-color: #4e68b589;
      }
      &:not(.chosen-mode-btn):hover {
        background-color: #4e68b526;
      }
    }
  }

  @mixin TimerBackgroundObstacle {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  #timer-wrapper {
    margin: 6px 0;
    &>span {
      display: inline-block;
      position: relative;
      color: #f6f6f6;
      font-weight: 800;
      font-size: 1.4rem;
      width: 65px;
      margin: 18px 0;
      text-align: center;

      &:after {
        @include TimerBackgroundObstacle;
        width: 250%;
        height: 500%;
        background-color: #2f1cab7d;
        border-radius: 23% 77% 31% 69% / 58% 30% 70% 42%;
      }
      &:before {
        @include TimerBackgroundObstacle;
        width: 200%;
        height: 600%;
        background-color: #5744cf9e;
        border-radius: 60% 40% 62% 38% / 33% 70% 30% 67%;
      }
    }
  }

  #timer-controls {
    display: flex;
    gap: 8px;

    $base-btn-color: #9b9bef;
    $hover-btn-color: #b4b4ed;
    $click-btn-color: #8080d2;

    &>button {
      padding: 6px 6px;
      width: 40px;
      border: none;
      border-radius: 45%;
      box-shadow: 2px 2px 6px 2px #293f70cb;
      aspect-ratio: 1;
      background-color: $base-btn-color;
      transition: all 0.375s;

      .button__image {
        width: 24px;
      }
      &:hover {
        background-color: $hover-btn-color;
      }
      &:active {
        background-color: $click-btn-color;
      }
    }
  }
}
